<% if !current_user.nil? %>
<br>
<%= link_to "New quote", '', :remote => true , :id =>"wat"%><br>

<div id="hideThis">
<%= form_for(@quote) do |f| %>  

					<%= f.label :citat, "Vad var det som sades?" %>
					<%= f.text_field :citat %>

					<%= f.label :username, "Vem sa det?" %>
					<%= f.text_field :username %>
					<br>
				   	<%= f.submit "Spara citat" , id: "sendQuote" %>
				<% end %>
</div>
<br>
<br>
<div id="quotes">
	<% @quotes.each do |quote| %>
		<%= div_for quote do %>
			<p class="quote">
				<%= quote.citat %><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_uquote_path(quote), class: "pull-right" %>
			</p>
			<p class="quoter">
				 - <%= quote.username %><br>
				<%= quote.created_at %>
			</p>
		<% end %>
	<% end %>
</div>
<% end %>