<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="dkmCitat">
      <center>
        <% if current_user.nil?  %>
          <%= link_to (image_tag 'logo.png'), signin_path %><br>
        <% else %>
          <%= link_to (image_tag 'logo.png'), signout_path %><br>
          You're logged in as <b><%= current_user.username %></b>
        <% end %>
      </center>
    </div>
    <div class="row">
      <div class="span6 offset3">
        <%= yield %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>